<style>
	mat-label{
		font-size:15px
	}
</style>
<!--begin::Body-->

<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<!-- <h3 style="text-align:center">{{ 'AUTH.REGISTER.TITLE' | translate }}</h3> -->
		</div>

		<kt-auth-notice></kt-auth-notice>

		<form class="kt-login__form kt-form" [formGroup]="registerForm" autocomplete="off">
			<div class="form-group">
				<!-- <mat-form-field>
					<mat-label>Fullname</mat-label>
					<input matInput type="text" placeholder="Fullname" formControlName="fullname"/>
					<mat-error *ngIf="isControlHasError('fullname','required')">
						<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('fullname','minlength')">
						<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('fullname','maxlength')">
						<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
					</mat-error>
				</mat-form-field> -->
			</div>

			<div class="form-group">
				<mat-form-field>
					<mat-label>Username</mat-label>
					<input matInput type="text" formControlName="username"
					
							required
					
					/>
					<!-- icon của user -->
					<mat-icon matSuffix>account_box</mat-icon>
					<mat-error *ngIf="registerForm.hasError('required','username')">
						<!-- <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong> -->
						Username <strong> is required</strong>
					</mat-error>
					<!-- <mat-error *ngIf="isControlHasError('username','minlength')">
						<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('username','maxlength')">
						<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
					</mat-error> -->
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Phone</mat-label>
					<input matInput type="text" formControlName="phone"
					
							required
							minlength=5
							maxlength=11
					
					/>
					<!-- icon của user -->
					<mat-icon matSuffix>phone</mat-icon>
					<mat-error *ngIf="registerForm.hasError('required','phone')">
					
						Phone <strong> is required</strong>
					</mat-error>
					<mat-error *ngIf="registerForm.hasError('minlength','phone')">
						Phone <strong> is minlength 5</strong>
					</mat-error>

					<mat-error *ngIf="registerForm.hasError('maxlength','phone')">
						Phone <strong> is maxlength 11</strong>
					</mat-error>
				
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Address</mat-label>
					<input matInput type="text" formControlName="address"
					
							required
					
					/>
					<!-- icon của user -->
					<mat-icon matSuffix>account_balance</mat-icon>
					<mat-error *ngIf="registerForm.hasError('required','address')">
					
						Address <strong> is required</strong>
					</mat-error>
					
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ 'AUTH.INPUT.EMAIL' | translate }}</mat-label>
					<input matInput type="email" formControlName="gmail" autocomplete="off"
							required
							[(ngModel)]="txtemail"
					/>
					<mat-icon matSuffix>email</mat-icon>
					<mat-error *ngIf="registerForm.hasError('required','gmail')">
						Email <strong> is required</strong>
					</mat-error>
				
					<mat-error *ngIf="registerForm.hasError('email','gmail')">
						<strong>Email không hợp lệ</strong>
					</mat-error>
					<!-- <mat-error *ngIf="isControlHasError('email','minlength')">
						<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','maxlength')">
						<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
					</mat-error> -->
				</mat-form-field>
			</div>
			
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ 'AUTH.INPUT.PASSWORD' | translate }}</mat-label>
					<input required matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off"
						[(ngModel)]="txtpass"
					minlength=6
					/>
					<!-- sử lý click show vs hide pass  -->
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

					<mat-error *ngIf="registerForm.hasError('required','password')">
						Passsword <strong> is required</strong>
					</mat-error>
					<mat-error *ngIf="registerForm.hasError('minlength','password')">
						Passsword <strong> is minlength 6</strong>
					</mat-error>
					<!-- <mat-error *ngIf="isControlHasError('password','maxlength')">
						<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
					</mat-error> -->
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ 'AUTH.INPUT.CONFIRM_PASSWORD' | translate }}</mat-label>
					<input required matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" autocomplete="off"
					minlength=6
					/>
					<!-- sử lý click show vs hide pass  -->
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					<mat-error *ngIf="registerForm.hasError('required','confirmPassword')">
						ConfirmPassword <strong> is required</strong>
					</mat-error>
					<mat-error *ngIf="registerForm.hasError('minlength','password')">
						ConfirmPassword <strong> is minlength 6</strong>
					</mat-error>
					<!-- <mat-error *ngIf="isControlHasError('confirmPassword','maxlength')">
						<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
					</mat-error> -->
					<mat-error *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.ConfirmPassword">
						<strong>Passsword and ConfirmPassword didn't match.</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-checkbox name="agree" formControlName="agree">
					I agree the <a href="javascript:;">terms & conditions</a>
				</mat-checkbox>
			</div>

			<!--begin::Action-->
			<div style="text-align: center;" class="kt-login__actions">
				<button  style="text-align: center;"(click)="submit()" (click)="binData()"  id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">Register</button>
				<!-- <button routerLink="/auth/login" [disabled]="loading" id="kt_login_signup_cancel" class="btn btn-secondary btn-elevate kt-login__btn-secondary">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button> -->
				<!-- <button  (click)="TabIndex.selectedIndex = 0" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">Register</button> -->
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>

