<style>
    span{
        font-size:16px;
        font-weight: bold;
        margin: 10px;
        display: flex;
    flex-direction: column;
    }
    p{
        margin: 10px;
    }
    .khung{
      
        background-color: white;
    margin-bottom: -80px;
    margin-top:-10px;
    }
    img{
        width: 50%;
        height: 500px;
        text-align: center;
        margin-left: 250px;
    }
</style>

<div class="khung">

    <span>1. Đi làm đúng giờ</span>
<p>

Điều đầu tiên và rất quan trọng đó là đi làm đúng giờ. Có mặt đúng giờ vào buổi sáng, đến các cuộc họp, đến các buổi thuyết trình,… là đặc điểm đầu tiên của một nhân viên có trách nhiệm với công việc. Chẳng người quản lý nào thích một nhân viên suốt ngày đi trễ, và cũng chẳng hay ho gì nếu để đồng nghiệp gắn cho bạn biệt danh “thánh đi trễ” tại văn phòng làm việc.
</p>

<span>2. Ăn mặc phù hợp</span>
<img src="../../assets/media/bg/nt2.png"> 
<p>
Người ta vẫn nói “Cái răng, cái tóc là góc con người”, do đó luôn chăm chút cho ngoại hình của mình luôn là điều nên làm. Chăm chút không có nghĩa là mỗi ngày phải thay đổi, phải điệu đà mà là lựa chọn trang phục phù hợp với văn hóa công ty. Bên cạnh đó, tác phong gọn gàng, sạch sẽ cũng là điểm bạn cần chú ý. Đừng để những đồng nghiệp của mình đi kể với người khác rằng họ có một người đồng nghiệp lôi thôi bạn nhé.
Lựa chọn trang phục phù hợp với văn hóa công ty
</p>
<span>

3. Hoàn thành tốt các nhiệm vụ
</span>
<p>

Sếp giao cho bạn một nhiệm vụ, có thể là tham gia vào một hoạt động nào đó, hoặc muốn bạn tham dự một cuộc họp. Hãy cố gắng làm tốt chúng vì nếu từ chối sẽ chỉ làm tổn hại đến sự nghiệp của bạn về lâu dài.
</p>
<span>

4. Tôn trọng đồng nghiệp 
</span>
<img src="../../assets/media/bg/nt4.png"> 
<p>


Hãy tử tế, trung thực và kiên nhẫn với những người đồng nghiệp xung quanh bạn. Bạn sẽ phải làm việc với nhiều loại người khác nhau trong sự nghiệp của mình và bạn không bao giờ biết khi nào những đồng nghiệp này sẽ xuất hiện trở lại trong cuộc sống của bạn, vì vậy hãy chắc chắn rằng bạn đang nuôi dưỡng mối quan hệ tốt với mọi người bạn gặp.
Luôn tôn trọng đồng nghiệp
</p>
<span>

5. Giữ im lặng những bất mãn của bạn
</span>

<p>

Sẽ có lúc bạn sẽ phải làm những công việc mà bạn không thích, cảm thấy tẻ nhạt hoặc mất quá nhiều thời gian và sức lực của bạn. Trong trường hợp này, những người chín chắn sẽ không than vãn với bất cứ ai nghe lắng nghe và họ không làm điều đó nhiều lần trong không gian công cộng. Và kết quả là họ nhận được nhiều sự tôn trọng từ người khác hơn.
</p>
<span>

6. Giữ một tâm trí cởi mở
</span>
<img src="../../assets/media/bg/nt6.png"> 
<p>

Trong công việc, đôi lúc bạn sẽ gặp những trở ngại và thử thách. Mọi người sẽ thay đổi, công việc của bạn sẽ thay đổi, công ty của bạn sẽ thay đổi, sở thích của bạn sẽ thay đổi. Vì vậy, hãy cởi mở với những khả năng mới, cho dù đó là một nhiệm vụ mới, một cơ hội kết nối mạng mới hay một người mới để làm quen. Bạn nên hiểu rằng để tồn tại và phát triển, bạn phải tập thích nghi với những thay đổi xung quanh mình.
Luôn giữ cho tâm trí luôn thoải mái
    
</p>
<span>
    7. Hãy kiên cường
</span>
<p>

Như tôi đã nói ở trên, không có gì thực sự chắc chắn và đó là một điều tốt! Thay đổi, rủi ro, thất bại, tất cả đều khiến bạn trở thành một người mạnh mẽ hơn, khôn ngoan hơn, thú vị hơn.
Khi chúng xảy ra, đừng để chúng làm bạn thất vọng. Bạn có thể đắm mình một chút nhưng sau đó tự đứng dậy và tiếp tục cố gắng. Người lớn biết rằng họ phải sở hữu sự nghiệp của mình để phát triển mạnh trong đó, ngay cả khi điều đó có nghĩa là thất bại nhiều lần. Thực hành kiên cường trong mọi việc bạn làm, và mọi người sẽ không bao giờ nghi ngờ sự trưởng thành và tiềm năng của bạn. Thành công chỉ đến với những người biết nỗ lực.

</p>
<span>

8. Tự giác làm việc
</span>
<p>

Tính tự giác là một trong những đặc điểm của một nhân viên tốt. Chủ động hoàn thành tất cả các nhiệm vụ của mình mà không cần sự đốc thúc hoặc giám sát của quản lý sẽ giúp bạn tự chủ trong công việc hơn. Hơn nữa, đồng nghiệp và cấp trên cũng cảm thấy an tâm về bạn nhiều hơn.
</p>
<span>

9. Thoải mái khi có mâu thuẫn xảy ra
</span>
<p>
    

Xung đột và đối đầu trong công việc là không thể tránh khỏi. Bạn sẽ phải đối mặt với việc sa thải một nhân viên , đối phó với kịch văn phòng , thách thức sếp của bạn , ở giữa hai đồng nghiệp , trong số những điều khó khăn khác. Thay vì tránh những tình huống này, hãy là một người trưởng thành và chấp nhận chúng. Tìm hiểu nguyên nhân cụ thể của vấn đề và tìm ra hướng giải quyết tốt nhất. Không độc đoán với suy nghĩ của bản thân và luôn lắng nghe người khác sẽ giúp bạn trở thành một nhà lãnh đạo được tôn trọng và tin tưởng hơn
Trên đây là những nguyên tắc bất cứ ai cũng nên tuân theo tại văn phòng làm vieech. Thực hiện theo các quy tắc này mỗi ngày sẽ chứng minh bạn là loại người trưởng thành và là đối tượng để người khác muốn làm việc cùng.
</p>
</div>>