<style>
span{
    font-size:16px;
    font-weight: bold;
    margin: 10px;
  
}
p{
    margin: 10px;
}
.khung{
  
    background-color: aliceblue;
    margin-bottom: -80px;
}
img{
    width: 100%;
    height: 500px;
}
</style>
<div class="khung">
  
  <div>  
      <img src="../../assets/media/10-dieu-tao-nen-gia-tri-con-nguoi-ban.jpg"> 
  </div>
    <span>
        1. TÍNH ĐỘC ĐÁO CỦA BẠN
    </span>

    <p>
        Bạn là duy nhất. Có một phép màu về bạn, của riêng bạn. Tự đánh giá thấp bản thân mình không phải là sự khiêm tốn, mà là tự hại mình. Tự hào về sự độc đáo của bản thân không có nghĩa là bạn ích kỉ, mà đó là một điều kiện tiên quyết cần thiết để hạnh phúc và thành công.
Bạn xứng đáng để cho tim bạn nở một nụ cười. Không phải vì những gì bạn có hoặc những gì bạn làm, mà là vì bạn là ai .Vâng, bạn đang thay đổi từng ngày, nhưng bạn luôn luôn tuyệt vời như chính con người bạn.

    </p>

    <span>
        2. NHẬN THỨC VỀ BẢN THÂN

    </span>
<p>


Phải mất một thời gian dài để học cách làm thế nào để không đánh giá bản thân mình qua con mắt của người khác, nhưng nếu bạn làm được thì đó là một chiến thắng lớn.
Chúng ta có mặt trên trái đất này để khám phá cuộc sống của mình, và chúng ta sẽ không bao giờ được hạnh phúc hay thành công nếu cố gắng sống cuộc sống của người khác.


Vì vậy, đừng lo lắng quá nhiều về những gì người khác nghĩ về bạn. Những gì họ nghĩ không quan trọng. Điều quan trọng là bạn cảm nhận về bản thân mình như thế nào.

</p>

<span>3. TRỰC GIÁC CỦA BẠN</span>
<p>

Nếu suy nghĩ của bạn cũng giống như mọi người thì đó không phải là suy nghĩ thật sự. Hãy làm theo những gì trực giác mách bảo. Làm những gì bạn cho là hợp lý. Đừng bao giờ so sánh cuộc hành trình của bạn với người khác. Mỗi người đều có khó khăn, thách thức, và một con đường khác biệt của riêng họ.
Hãy nhớ rằng, bạn không cần phải chờ đợi những yếu tố hoàn cảnh thuận lợi để có được cuộc sống bạn hàng ao ước. Những gì bạn đang tìm kiếm đã nằm sẵn ở một nơi nào đó bên trong bạn.

</p>    

<span>4. NIỀM ĐAM MÊ CỦA BẠN</span>
<p>

Nếu như có bất cứ một khoảnh khắc nào để theo đuổi niềm đam mê và làm một điều gì đó quan trọng với bạn, thì đó chính là khoảnh khắc này đây. Hãy tìm ra niềm đam mê của bạn, bất cứ điều gì.
Những điều tuyệt vời sẽ xảy đến với bạn. Và thậm chí nếu mọi thứ không diễn ra như kế hoạch, thì bạn vẫn có được hướng đi đúng đắn. Vì không có đam mê nào là lãng phí thời gian cả, cho dù mọi chuyện có ra sao.
</p>

<span>5. QUYẾT TÂM CỦA BẠN</span>
<p>


Khi cuộc sống khiến bạn cảm thấy sợ hãi, thì đó là khi cuộc sống mang lại cho bạn một cơ hội để phát triển mạnh mẽ và dũng cảm hơn. Không có gì là vĩnh viễn trong thế giới điên rồ này, cho dù là sai lầm, thất bại, hoặc khó khăn của bạn.
Nếu bạn luôn giữ cho đôi mắt mở rộng, đôi chân luôn về phía trước, cuối cùng bạn sẽ tìm thấy những gì bạn cần.
Tin rằng mình làm được và bạn sẽ làm được
</p>
 

<span>6. THÁI ĐỘ CỦA BẠN</span>
<p>


Một thứ không ai có thể lấy đi từ bạn chính là cách bạn chọn để phản ứng với những gì người khác nói và làm với bạn. Bạn được tự do lựa chọn thái độ trong bất kỳ hoàn cảnh nào. Hãy chọn để được hạnh phúc và tích cực.
Không dễ dàng để tìm thấy hạnh phúc trong chính chúng ta, nhưng chắc chắn là bạn sẽ không thể tìm thấy nó ở nơi khác. Cho dù phải đối mặt với tình huống gì, chúng ta hoàn toàn có thể lựa chọn thái độ của mình. Vì vậy, hãy mỉm cười khi bạn bước đi xa khỏi những con người và việc làm tiêu cực.

</p>
<span>7. KHẢ NĂNG CHIA SẺ TÌNH THƯƠNG VÀ LÒNG NHÂN ÁI</span>
<p>
Cuộc sống của bạn không được đo lường bởi những gì bạn tích lũy, mà được đo bởi những gì bạn cho đi. Và 99 % bạn sẽ luôn có được những gì bạn đã cho đi, vì vậy đừng ngần ngại cho đi. Bạn có thể cho đi một nụ cười, đôi tai lắng nghe hoặc một bàn tay giúp đỡ.
Có rất nhiều việc tốt bạn có thể làm mà không cần tốn một xu. Hãy nhớ rằng, mục tiêu cuối cùng của tất cả các mục tiêu là để được hạnh phúc.
Nếu bạn muốn được hạnh phúc, hãy làm cho những người xung quanh bạn hạnh phúc.
</p>
<span>8. NIỀM HY VỌNG CỦA BẠN</span>
<p>
Những trở ngại lớn nhất ngăn cản con người và những gì họ muốn trong cuộc sống. Hy vọng là quyết tâm làm thử một lần, và có niềm tin rằng việc đó có thể làm được. Hy vọng là tiếng nói nhỏ bên trong đầu của bạn thì thầm “ có thể ” khi cả thế giới đang la hét “ không thể! ”
</p>
<span>9. KIẾN THỨC VÀ KINH NGHIỆM SỐNG</span>

<p>
Tính cách và sự khôn ngoan được điêu khắc theo thời gian, thông qua sự mất mát, những bài học, và chiến thắng. Nếu có một con đường rõ ràng để thành công, thì mọi người đã bước đi trên con đường đó rồi.
Những hạt giống của sự thành công được gieo trồng trong những thất bại trong quá khứ. Câu chuyện hay nhất của bạn sẽ được ghi chép từ việc khắc phục khó khăn lớn nhất của bạn. Vì vậy, hãy đứng vững, tiếp tục học tập, trải nghiệm và tiếp tục sống.
Kiến thức và kinh nghiệm sống của riêng bạn sẽ giúp bạn thành công
</p>
<span>10. LỰA CHỌN BƯỚC VỀ PHÍA TRƯỚC</span>
<p>
Đừng để các mối quan hệ trong quá khứ và những sai lầm cũ phá hỏng tương lai của bạn. Đừng để một ai đó hoặc một điều gì đó tiếp tục làm tổn thương bạn. Nếu không, bạn sẽ dành cuộc sống của mình cho một cái gì đó vốn không còn tồn tại – nó giống như để cho hạnh phúc của bạn rơi vào một lỗ đen.
Hãy rút ra bài học, quên đi nỗi đau, và bước về phía trước!
</p>
</div>