<style>
    span {
        font-size: 16px;
        font-weight: bold;
        margin: 10px;

    }

    p {
        margin: 10px;
    }

    .khung {

        background-color: aliceblue;
        margin-bottom: -80px;
    }

    img {
        width: 50%;
        height: 500px;
        margin-left: 300px;
    }
</style>
<div class="khung">

    <div>
      
    </div>
    <span>
        1. Tinh thần trách nhiệm với nhiệm vụ cụ thể
    </span>

        <div>
            <img src="../../assets/media/bg/tn1.jpg"> 
        </div>

    <p>
        Mỗi nhân viên trong một công ty,
        dù là làm toàn thời gian hay bán thời gian, ở vị trí nhân viên hay quản lý đều phải có trách nhiệm hoàn thành
        các nhiệm vụ cụ thể ở vị trí đó. Trách nhiệm của nhân viên là thực hiện các công việc được giao một cách tốt
        nhất trong khi tuân thủ các chính sách và giao thức của công ty, quản lý thời gian và hoà nhập với văn hoá doanh
        nghiệp. Trong khi đó, quản lý đảm bảo cung cấp môi trường làm việc tích cực và sẵn sàng giải đáp các thắc mắc
        của nhân viên cấp dưới.
    </p>

    <span>
        2. Trách nhiệm cá nhân

    </span>
    <p>


        Một trách nhiệm chung khác trong công việc áp dụng cho tất cả mọi người là dám nhận lỗi và chịu trách nhiệm cho
        hành động của mình. Thay vì đổ lỗi cho đồng nghiệp hoặc đưa ra lời bào chữa, những nhân viên chấp nhận chịu
        trách nhiệm về sai lầm hoặc phán xét không chính xác sẽ trở thành tài sản tích cực cho tổ chức.

        Người quản lý có thể cần có một số cuộc trò chuyện khó khăn với nhân viên để thiết lập kỳ vọng này, nhưng cuối
        cùng trách nhiệm giải trình như một tiêu chuẩn văn phòng sẽ tạo ra một môi trường làm việc tích cực và hiệu quả.
    </p>

    <span>3. Tinh thần trách nhiệm trong giám sát và lãnh đạo</span>
    <p>

        Trách nhiệm chính của người quản lý là giữ cho nhóm hoặc bộ phận của họ đi đúng hướng để đáp ứng các mục tiêu và
        đo lường theo tiêu chuẩn của công ty. Một người quản lý tốt cũng chịu trách nhiệm phát triển các kỹ năng và chất
        lượng, hiệu suất của nhân viên dưới sự giám sát của họ.

        Bằng cách cung cấp thông tin phản hồi, đào tạo và đưa ra cơ hội thăng tiến, các nhà quản lý tạo ra một môi
        trường làm việc tích cực, tuân thủ cam kết với công ty. Ngược lại, những vị lãnh đạo có vẻ không quan tâm đến
        sức khỏe của nhân viên sẽ không có được sự tôn trọng và trung thành của cấp dưới.
    </p>

    <span>4. Trách nhiệm cung cấp và duy trì môi trường làm việc an toàn</span>

    
    <div>
        <img src="../../assets/media/bg/tn2.jpg"> 
    </div>
    <p>

        Theo quy định của Bộ Lao động, nhà nước yêu cầu tất cả các chủ lao động cung cấp môi trường làm việc an toàn cho
        người lao động. Môi trường làm việc phải đáp ứng các tiêu chuẩn và có thể được kiểm tra, thanh tra bất ngờ. Chủ
        lao động phải cung cấp và bảo trì các thiết bị an toàn để sử dụng, đăng các dấu hiệu nhắc nhở nhân viên về các
        giao thức an toàn, cung cấp huấn luyện an toàn thường xuyên và lưu giữ hồ sơ về các thương tích hoặc bệnh tật
        liên quan đến công việc.
        Trong khi đó, nhân viên cũng có trách nhiệm thực hiện các quy định về an toàn tại nơi làm việc và duy trì một
        môi trường tích cực, đảm bảo sức khoẻ, vệ sinh, an toàn cho bản thân cũng như đồng nghiệp.
    </p>

    <span>5. Trách nhiệm xử lý nghĩa vụ tài chính</span>
    <p>


        Một số nhân viên, đặc biệt là những người trong phòng kế toán hoặc nhân sự, chịu trách nhiệm xử lý chính xác tài
        chính của công ty. Nếu đảm nhiệm các vị trí này, bạn phải chú ý cẩn thận để lưu trữ hồ sơ chính xác cũng như
        tuân theo các nghị định, luật liên quan.
    </p>


    <span>6. Trách nhiệm trong ứng xử</span>
    <p>

        Trong công ty, tất cả nhân viên từ cấp quản lý trở xuống nên tìm cách tự hành xử một cách chuyên nghiệp, không
        chỉ trong công việc mà cả ngoài công việc. Mọi người nên tuân thủ các nguyên tắc chính sách kinh doanh và quy
        tắc ứng xử và được coi là một tiêu chuẩn để đại diện cho công ty trước các nhà cung cấp và khách hàng, công
        chúng. Bên ngoài công việc, tính chính trực của mỗi cá nhân có thể phản ánh "bộ mặt" của công ty.

    </p>

</div>